select:-moz-focusring
  color transparent;
  text-shadow: 0 0 0 #000;

input-style()
  box-sizing border-box
  border-radius 5px
  border 1px solid black
  outline none
  height 40px
  width 100%
  padding-left 6px
  font-size 14px

arrow(svg)
  background-image url(svg)
  background-size 25px 25px
  background-color transparent
  background-repeat no-repeat
  background-position calc(100% - 6px) center

.select
  width 300px
  box-sizing border-box
  position relative
  input
    input-style()
    arrow("../arrow_down.svg")
  select
    input-style()
    arrow("../arrow_down.svg")
    -webkit-appearance none
    -moz-appearance none

.select.select_opened-up
  input
    border-radius 0 0 5px 5px
    arrow("../arrow_up.svg")
  .select__menu
    border-radius 5px 5px 0 0
    border-bottom none

.select.select_opened-down
  input
    border-radius 5px 5px 0 0
    arrow("../arrow_up.svg")
  .select__menu
    border-radius 0 0 5px 5px
    border-top none

.select__menu
  box-sizing border-box
  position absolute
  overflow auto
  border-radius 5px
  border 1px solid black
  width 300px

.menu-item
  box-sizing border-box
  height 40px
  font-size 14px
  padding-left 6px
  line-height 40px
  vertical-align middle
  cursor pointer
  &:hover
    background-color #eee

.menu-item_active
  background-color orange
  color white
  &:hover
    background-color orange
  .menu-item__highlighted-text
    color white

.menu-item__highlighted-text
  color orange
  text-decoration underline

.placeholder
  font-size 12px
  transition all 400ms
  margin-left 5px
  position absolute
  top -6px
  left 3px
  background-color white
  user-select none
  padding 0 2px
  z-index 2

.select_without-value
  label
    transform scale(14/12) translate(8px, 17px)